<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'schedule-builder.css' %}">
{% endblock %}
{% block content %}
<div class="schedule-builder-container">
  <div class="schedule-builder-header">
    <div class="weekday-container">
      <div class="weekday-text">
        Monday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Tuesday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Wednesday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Thursday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Friday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Saturday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Sunday
      </div>
    </div>
  </div>
  <div class="schedule-builder-content-container">
    <div class="schedule-builder-content-overlay">
      <div class="schedule-builder-class-container 
      CS-330
      "style="
      grid-row: 10 / 56;
      grid-column: 1 / 1;
      ">
        <div class="schedule-builder-class-text">
          CS 330
        </div>
      </div>
      <div id="class-2" class="schedule-builder-class-container CS-415">
        <div class="schedule-builder-class-text">
          CS 415
        </div>
      </div>
      <div id="class-3" class="schedule-builder-class-container CS-330">
        <div class="schedule-builder-class-text">
          CS 330
        </div>
      </div>
      <div id="class-4" class="schedule-builder-class-container CS-415">
        <div class="schedule-builder-class-text">
          CS 415
        </div>
      </div>
      <div id="class-5" class="schedule-builder-class-container CS-330">
        <div class="schedule-builder-class-text">
          CS 330
        </div>
      </div>
      <div id="class-6" class="schedule-builder-class-container CS-415">
        <div class="schedule-builder-class-text">
          CS 415
        </div>
      </div>
      <div id="class-7" class="schedule-builder-class-container CS-315">
        <div class="schedule-builder-class-text">
          CS 315
        </div>
      </div>
      <div id="class-8" class="schedule-builder-class-container CS-315-LAB">
        <div class="schedule-builder-class-text">
          CS 315 LAB
        </div>
      </div>
      <div id="class-9" class="schedule-builder-class-container CS-420">
        <div class="schedule-builder-class-text">
          CS 420
        </div>
      </div>
    </div>
    <div class="dotted-line">
      <div class="time-text">8am</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">9am</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">10am</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">11am</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">12am</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">1pm</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">2pm</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">3pm</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">4pm</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">5pm</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">6pm</div>
    </div>
  </div>
</div>


<div class="class-selection-container">
  <div class="class-selection-search-input-container">
    <input class="class-selection-search-input" placeholder="search">
  </div>  
  <div class="class-selection-classes-container">
    <div class="class-selection-class-container">
      <div class="class-selcection-class-text">
        CS 315
      </div>
    </div>
    
    <div class="class-selection-class-container">
      <div class="class-selcection-class-text">CS 315 LAB</div>
    </div>
    <div class="class-selection-class-container">
      <div class="class-selcection-class-text">CS 330</div>
    </div>
    <div class="class-selection-class-container">
      <div class="class-selcection-class-text">CS 415</div>
    </div>
    <div class="class-selection-class-container">
      <div class="class-selcection-class-text">CS 420</div>
    </div>
    <!-- <div class="class-selection-class-container">
      <div class="class-selcection-class-text">Class</div>
    </div>
    <div class="class-selection-class-container">
      <div class="class-selcection-class-text">Class</div>
    </div>
    <div class="class-selection-class-container">
      <div class="class-selcection-class-text">Class</div>
    </div>
    <div class="class-selection-class-container">
      <div class="class-selcection-class-text">Class</div>
    </div> -->
  </div>  
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'schedule-builder.js' %}"></script>
{% endblock %}
