<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'schedule-builder.css' %}">
{% endblock %}
{% block content %}
<div class="schedule-builder-container">
  <div class="schedule-builder-header">
    <div class="weekday-container">
      <div class="weekday-text">
        Monday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Tuesday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Wednesday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Thursday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Friday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Saturday
      </div>
    </div>
    <div class="weekday-container">
      <div class="weekday-text">
        Sunday
      </div>
    </div>
  </div>
  <div class="schedule-builder-content-container">
    <div class="dotted-line">
      <div class="time-text">8am</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">9am</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">10am</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">11am</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">12am</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">1pm</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">2pm</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">3pm</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">4pm</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">5pm</div>
    </div>
    <div class="dotted-line">
      <div class="time-text">6pm</div>
    </div>
  </div>
</div>
<div class="class-selection-container">

</div>


{% endblock %}
{% block scripts %}
{% endblock %}
