<!DOCTYPE html>
{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="../static/professors.css">
{% endblock %}



{% block content %}
<div class="column-for-sidebar">
  <div class="sidebar-container">
    <div class="sidebar-control-container">
      <div class="sidebar-control-text-container">
        <div class="sidebar-control-text">
          Sort by
        </div>
      </div>
      <div class="sidebar-control-input-container">
        <div class="sidebar-sort-by-order-input"></div>
        <div> <!-- this is sort of a hack to align the text -->
          <div class="sidebar-sort-by-button-input">
            name
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-control-container">
      <div class="sidebar-control-text-container">
        <div class="sidebar-control-text">
          Search
        </div>
      </div>
      <div class="sidebar-control-input-container">
        <input class="sidebar-search-text-input" type="text" placeholder="professor's name">
      </div>
    </div>
  </div>
</div>

<div class="column-for-prof">
    
  <div class="prof-container">
    <div class="prof-header-container">
      <div class="prof-name-text">
        Hank Childs
      </div>
      <div class="prof-reviews-container">
        <div class="prof-reviews-text">
          based on <span class="prof-reviews-link-text">24 reviews</span>
        </div>
      </div>
    </div>
    <div class="prof-content-container"> 
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            5
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Quality</div>
      </div>
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            4
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Difficulty</div>
      </div>
      <div class="prof-score-container">
        <div class="score-percent-text">
          100%
        </div>
        <div>Would Take Again</div>
      </div>
    </div>
  </div>

  <div class="prof-container">
    <div class="prof-header-container">
      <div class="prof-name-text">
        Hank Childs
      </div>
      <div class="prof-reviews-container">
        <div class="prof-reviews-text">
          based on <span class="prof-reviews-link-text">24 reviews</span>
        </div>
      </div>
    </div>
    <div class="prof-content-container"> 
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            5
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Quality</div>
      </div>
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            4
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Difficulty</div>
      </div>
      <div class="prof-score-container">
        <div class="score-percent-text">
          100%
        </div>
        <div>Would Take Again</div>
      </div>
    </div>
  </div>

  <div class="prof-container">
    <div class="prof-header-container">
      <div class="prof-name-text">
        Hank Childs
      </div>
      <div class="prof-reviews-container">
        <div class="prof-reviews-text">
          based on <span class="prof-reviews-link-text">24 reviews</span>
        </div>
      </div>
    </div>
    <div class="prof-content-container"> 
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            5
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Quality</div>
      </div>
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            4
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Difficulty</div>
      </div>
      <div class="prof-score-container">
        <div class="score-percent-text">
          100%
        </div>
        <div>Would Take Again</div>
      </div>
    </div>
  </div>

  <div class="prof-container">
    <div class="prof-header-container">
      <div class="prof-name-text">
        Hank Childs
      </div>
      <div class="prof-reviews-container">
        <div class="prof-reviews-text">
          based on <span class="prof-reviews-link-text">24 reviews</span>
        </div>
      </div>
    </div>
    <div class="prof-content-container"> 
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            5
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Quality</div>
      </div>
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            4
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Difficulty</div>
      </div>
      <div class="prof-score-container">
        <div class="score-percent-text">
          100%
        </div>
        <div>Would Take Again</div>
      </div>
    </div>
  </div>

  <div class="prof-container">
    <div class="prof-header-container">
      <div class="prof-name-text">
        Hank Childs
      </div>
      <div class="prof-reviews-container">
        <div class="prof-reviews-text">
          based on <span class="prof-reviews-link-text">24 reviews</span>
        </div>
      </div>
    </div>
    <div class="prof-content-container"> 
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            5
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Quality</div>
      </div>
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            4
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Difficulty</div>
      </div>
      <div class="prof-score-container">
        <div class="score-percent-text">
          100%
        </div>
        <div>Would Take Again</div>
      </div>
    </div>
  </div>

  <div class="prof-container">
    <div class="prof-header-container">
      <div class="prof-name-text">
        Hank Childs
      </div>
      <div class="prof-reviews-container">
        <div class="prof-reviews-text">
          based on <span class="prof-reviews-link-text">24 reviews</span>
        </div>
      </div>
    </div>
    <div class="prof-content-container"> 
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            5
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Quality</div>
      </div>
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            4
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Difficulty</div>
      </div>
      <div class="prof-score-container">
        <div class="score-percent-text">
          100%
        </div>
        <div>Would Take Again</div>
      </div>
    </div>
  </div>

  <div class="prof-container">
    <div class="prof-header-container">
      <div class="prof-name-text">
        Hank Childs
      </div>
      <div class="prof-reviews-container">
        <div class="prof-reviews-text">
          based on <span class="prof-reviews-link-text">24 reviews</span>
        </div>
      </div>
    </div>
    <div class="prof-content-container"> 
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            5
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Quality</div>
      </div>
      <div class="prof-score-container">
        <div class="score-fraction-container">
          <div class="score-numerator-text">
            4
          </div>
          <div class="score-denominator-text">
            /5
          </div>
        </div>
        <div>Difficulty</div>
      </div>
      <div class="prof-score-container">
        <div class="score-percent-text">
          100%
        </div>
        <div>Would Take Again</div>
      </div>
    </div>
  </div>

</div>

{% endblock %}


{% block scripts %}
{% endblock %}