/*
File: header-bar.css
Description: styling for the header bar. Consistent & present throughout all pages.
Creation Date: 5/29/23
Author(s): Sterling, Joseph, Ryan
*/

body {
    font-family: sans-serif;
    background: #f9fafb;

}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #333;
  top: 0;
  left: 0;
  right: 0;
  height: 5vh;
  z-index: 100000; /* << Make sure the nav bar goes over everything. */
}

header > ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #494949;
}

main {
  /* Make room for the nav bar */
  margin-top: 5vh;
}