/* ------------------------------------------------------------------------- */
/* ---------------------------- Document Styles ---------------------------- */

/* Entire Document */
body {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  top: 0;
}

/* The content of the page */
main {
  display: grid;
  grid-template-columns: 25fr  50fr 25fr;
  font-family: 'Open Sans', sans-serif;
}

/* ------------------------------------------------------------------------- */
/* -------------------------- Professor's Display -------------------------- */
/* ------------------------------------------------------------------------- */


/* Professor's Flexbox Column Container */
.column-for-prof {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
}

/* Modify Spacing between prof containers here */
.prof-container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 2%;
  /* Express the value 1 / 12 as an percent */
  margin-left: calc(100% / 12);
  margin-right: calc(100% / 12);
  background-color: white;
  border: 2px solid #bfbfbf;
}

/* ------------------------------------------------------------------------- */
/* --------------------------- Professor's Header -------------------------- */
/*             Includes: Professor's Name, and # of reviews text.            */

/* Professor's Header container */
.prof-header-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #bfbfbf;
  padding: 1em;
}

/* Text style for Professor's Name */
.prof-name-text {
  font-weight: bold;
  font-size: 2em;
}

/* The purpose of this flexbox is to align the 'based on X reviews' text to the
   bottom of the header container */
.prof-reviews-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Text style for 'based on X reviews' */
.prof-reviews-text {
  font-size: 1em;
}

/* Text style for the 'based on X reviews' link */
.prof-reviews-link-text {
  font-weight: bold;
  text-decoration: underline;
}

/* ------------------------------------------------------------------------- */
/* -------------------------- Professor's Content -------------------------- */
/*      Includes scores for: Quality, Difficulty, and Would Take Again.      */

/* A row flexbox container to display professor's scores in a row */
.prof-content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
}

/* A column flexbox to display a score description below the score value */
.prof-score-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* A row flexbox to display fractional scores */
.score-fraction-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* The styling for the numerator text */
.score-numerator-text {
  font-weight: bold;
  font-size: 2em;
  margin-right: 4%;
}

/* The styling for the denominator text */
.score-denominator-text {
  font-weight: normal;
  font-size: 1em;
}

/* The styling for the percent text */
.score-percent-text {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}