
/* ------------------------------------------------------------------------- */
/* ---------------------------- Side Bar Display --------------------------- */
/* ------------------------------------------------------------------------- */
/* TBH the side bar is an amalgamation of hacks */


/* This was originally in the grid but it was acting weird */
.column-for-sidebar {
    position: fixed;
    left: 75vw;
    right: 4vw;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
    background-color: white;
    border: 2px solid #bfbfbf;
    margin-top: 1em;
    font-size: 1em;
    background-color: #DFE3E8;
  }
  
  /* ------------------------------------------------------------------------- */
  /* ----------------------- Side Bar Content Placement ---------------------- */
  /*    These are the many containers to try to organize the text correctly    */
  
  /* This helps keep everything centered */
  .sidebar-control-container {
    display: flex;
    flex-direction: row;
  }
  
  /* This controls where the left text is  */
  .sidebar-control-text-container {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  /* << this is important */
    margin-left: 10%;
  }
  
  /* This stylizes the left text */
  .sidebar-control-text {
    font-weight: bold;
    margin-right: 10%;
  }
  
  /* This controls where the right buttons / text inputs are */
  .sidebar-control-input-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* << this is important */
    margin-right: 10%;
  }
  
  /* ------------------------------------------------------------------------- */
  /* ------------------------ Side Bar Inputs Placement ---------------------- */
  /*        These are all of the inputs that the user can interact with        */
  
  /* The sort arrow. This controls the sort order of the data ex: L2G G2L. */
  .sidebar-sort-by-order-input {
    cursor: pointer;
    width: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-image: url(./up_arrow.png);
  }
  
  /* This is a 'button' that the user can click that will open a drop down menu */
  .sidebar-sort-by-button-input {
    cursor: pointer;
    margin-left: 0.25em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: underline;
  }
  
  /* This is the search box for the user to use when finding a professor. */
  .sidebar-search-text-input {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
  }